@import url("https://fonts.googleapis.com/css?family=Muli:400,700");
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
}

ul {
  list-style: none;
}

.mt_5 {
  margin-top: 5 !important;
}

.mt_10 {
  margin-top: 10 !important;
}

.mt_15 {
  margin-top: 15 !important;
}

.mt_20 {
  margin-top: 20 !important;
}

.mt_25 {
  margin-top: 25 !important;
}

.mt_30 {
  margin-top: 30 !important;
}

.mt_35 {
  margin-top: 35 !important;
}

.mt_40 {
  margin-top: 40 !important;
}

.mt_45 {
  margin-top: 45 !important;
}

.mt_50 {
  margin-top: 50 !important;
}

.mt_55 {
  margin-top: 55 !important;
}

.mt_60 {
  margin-top: 60 !important;
}

.mt_65 {
  margin-top: 65 !important;
}

.mt_70 {
  margin-top: 70 !important;
}

.mt_75 {
  margin-top: 75 !important;
}

.mt_80 {
  margin-top: 80 !important;
}

.mt_85 {
  margin-top: 85 !important;
}

.mt_90 {
  margin-top: 90 !important;
}

.mt_95 {
  margin-top: 95 !important;
}

.mt_100 {
  margin-top: 100 !important;
}

.mb_5 {
  margin-bottom: 5 !important;
}

.mb_10 {
  margin-bottom: 10 !important;
}

.mb_15 {
  margin-bottom: 15 !important;
}

.mb_20 {
  margin-bottom: 20 !important;
}

.mb_25 {
  margin-bottom: 25 !important;
}

.mb_30 {
  margin-bottom: 30 !important;
}

.mb_35 {
  margin-bottom: 35 !important;
}

.mb_40 {
  margin-bottom: 40 !important;
}

.mb_45 {
  margin-bottom: 45 !important;
}

.mb_50 {
  margin-bottom: 50 !important;
}

.mb_55 {
  margin-bottom: 55 !important;
}

.mb_60 {
  margin-bottom: 60 !important;
}

.mb_65 {
  margin-bottom: 65 !important;
}

.mb_70 {
  margin-bottom: 70 !important;
}

.mb_75 {
  margin-bottom: 75 !important;
}

.mb_80 {
  margin-bottom: 80 !important;
}

.mb_85 {
  margin-bottom: 85 !important;
}

.mb_90 {
  margin-bottom: 90 !important;
}

.mb_95 {
  margin-bottom: 95 !important;
}

.mb_100 {
  margin-bottom: 100 !important;
}

.padding_0 {
  padding: 0px !important;
}

.padding_1 {
  padding: 1px !important;
}

.padding_2 {
  padding: 2px !important;
}

.padding_3 {
  padding: 3px !important;
}

.padding_4 {
  padding: 4px !important;
}

.padding_5 {
  padding: 5px !important;
}

.padding_6 {
  padding: 6px !important;
}

.padding_7 {
  padding: 7px !important;
}

.padding_8 {
  padding: 8px !important;
}

.padding_9 {
  padding: 9px !important;
}

.padding_10 {
  padding: 10px !important;
}

.padding_11 {
  padding: 11px !important;
}

.padding_12 {
  padding: 12px !important;
}

.padding_13 {
  padding: 13px !important;
}

.padding_14 {
  padding: 14px !important;
}

.padding_15 {
  padding: 15px !important;
}

.logo {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: relative;
  text-align: center;
  background: url(../img/background.jpg) center no-repeat;
  background-size: cover;
  padding: 150px 0;
}

.delay_07s {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

.header {
  position: relative;
  text-align: center;
  background: url(../img/background.jpg) center no-repeat;
  background-size: cover;
  padding: 150px 0;
}

#main-nav {
  text-align: center;
  margin: 10px 0 0px;
  padding: 0;
  list-style: -o-linear-gradient();
}

#main-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 1px;
}

#main-nav a {
  color: #222222;
  text-transform: titlecase;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  line-height: 20px;
  margin: 17px 32px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.navbar {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#main-nav .navbar-right {
  margin-top: 10px;
}

#main-nav .navbar-right li > a {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  color: #555;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: titlecase;
}

#main-nav .navbar-right li > a:focus {
  color: #01b1d7;
  background: none;
  outline: none;
}

#main-nav .navbar-right li > a:hover {
  color: #01b1d7;
  background: none;
}

.serach_bar {
  border: 2px solid #222222;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.search_container {
  background-size: cover;
}

.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #333 solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.search {
  position: relative;
  width: 100%;
  height: 30px;
}

.search_button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 45px;
  height: 30px;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
}

.search_area {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0px 3px #ececec;
          box-shadow: 0 0px 3px #ececec;
  border-radius: 15px;
}

.footer_area {
  color: #10568f;
  padding: 0px;
  border-bottom: 1px solid #dddddd;
  -webkit-box-shadow: 0px -2px 4px 2px #ececec;
          box-shadow: 0px -2px 4px 2px #ececec;
  position: relative;
  background: #fff;
}

.copywrite {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.join_us_header {
  width: 100%;
}

.product {
  height: 300px;
}

.product .hovereffect {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.product .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.product .hovereffect .overlay:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.product .hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.product .hovereffect h2 {
  text-transform: titlecase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}

.product .hovereffect h2:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.product .hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: titlecase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.product .hovereffect a.info:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translatey(0);
  transform: translatey(0);
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.grow:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #23668D;
}

.product_list {
  position: relative;
  height: 100px;
}

.product_list img {
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.company_box {
  font-size: 12px;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.company_box:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  background-color: #f8f8f8;
}

.company_box .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.company_box h4 {
  font-weight: 600;
}

.company_box .company_logo img {
  width: 100%;
  border: 1px solid #2323;
}

.company_logo img {
  width: 100%;
  border: 1px solid #2323;
}

.category_box {
  padding: 0px;
  position: relative;
  height: 250px;
}

.category_box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.category_box img:hover {
  opacity: 0.5;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.category_box h6 {
  position: absolute;
  background-color: #23668D;
  bottom: -10px;
  left: 0px;
  opacity: 0.9;
  z-index: 11;
  font-weight: 900;
  color: white;
  width: 80%;
  height: 50px;
  word-wrap: normal;
}

.overlay_detail {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #f8f8f8;
  line-height: 1.0;
}

.address_branch p {
  font-size: 14px;
}

.company_detail_1 {
  margin-top: 15px;
  padding-top: 15px;
  line-height: 1.5rem;
  border-radius: 15px;
  border: 1px solid #2323;
  position: relative;
}

.company_detail_1 a {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.product_list_1 {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 300px;
}

.product_list_1hover .title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
}

.product_list_1hover .title:hover {
  top: 90px;
}

.product_list_1hover .button {
  position: absolute;
  width: 100%;
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .35s ease;
  transition: opacity .35s ease;
}

.product_list_1hover .button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.product_list_1hover .button a:hover {
  opacity: 1;
}

.product_list_1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.product_list_1 .overlay:hover {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.product_list_1 img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  left: 0;
}
/*# sourceMappingURL=style.css.map */